@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* details top styling */
.details-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 560px;
  background:
    url('./engagement-pics/corner-flowers.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.details-top_text {
  position: relative;
  top: 50%;
  color: #000;
  font-size: 100px;
}

/* details ceremony styling */
.details-ceremony {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 560px;
  background: #f5e4e5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.details-ceremony_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5e4e5;
  width: 30%;
  height: 80%;
  font-size: 6rem;
  margin-bottom: 20px;
  text-align: center;
}

.details-ceremony_title__text {
  margin-bottom: 20px;
}

.details-ceremony_title__time {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.details-ceremony_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5e4e5;
  width: 30%;
  height: 80%;
  font-size: 1.5rem;
  text-align: center;
}

.details-ceremony_text__title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.details-ceremony_text__item {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

/* details divider styling */
.details-divider {
  position: absolute;
  top: 970px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.details-divider_image {
  height: 100%;
  width: 100%;
  background:
    url('./engagement-pics/carnations.png');
  background-size: 900px 300px;
  background-repeat: no-repeat;
  background-position: center;
}

/* details reception styling */
.details-reception {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 560px;
  background: #f5e4e5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 100px;
}

.details-reception_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5e4e5;
  width: 30%;
  height: 80%;
  font-size: 6rem;
  text-align: center;
}

.details-reception_title__text {
  margin-bottom: 20px;
}

.details-reception_title__time {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.details-reception_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5e4e5;
  width: 30%;
  height: 80%;
  font-size: 1.5rem;
  text-align: center;
}

.details-reception_text__title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.details-reception_text__item {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

@media screen and (max-width: 878px) {
  .details-top {
    height: 300px;
  }

  .details-top_text {
    font-size: 50px;
  }

  .details-divider {
    top: 710px;
  }

  .details-divider_image {
    background-size: 450px 150px;
  }

  .details-ceremony_title__text, .details-reception_title__text {
    font-size: 4rem;
  }

  .details-ceremony_text__title, .details-reception_text__title {
    font-size: 2rem;
  }

  .details-ceremony_text__item, .details-ceremony_title__time, .details-reception_text__item, .details-reception_title__time {
    font-size: 1rem;
  }
}
