.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  font-family: brandon-grot-w01-light, sans-serif;
  font-size: 1.5rem;
}

.navbar-rj {
  padding: 20px 10px 20px 10px;
}

.navbar-items {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
}

.navbar-item {
  padding: 20px 20px 20px 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

/* hamburger button  */
.navbar-hamburger {
  display: none;
  padding-right: 10px;
}

.navbar-hamburger:hover {
  cursor: pointer;
}

.navbar-hamburger_bar {
  width: 35px;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
  margin: 6px 0;
}

/* responsiveness */
@media screen and (max-width: 600px) {
  .navbar {
    font-size: 1rem;
  }

  .navbar-items {
    display: none;
  }

  .navbar-hamburger{
    display: block;
    border-radius: 50%;
    padding: 20px;
  }

  .navbar-rj {
    padding: 25px;
  }
}
